* {
  margin: 0;
  padding: 0;
  color: rgb(38, 38, 38);
  font-family: Helvetica, Arial, sans-serif;
}

html, body {
  width: 500px;
}

body {
  background-color: #f7f8fa;
}

input {
  border: 1px solid black;
  border-radius: 4px;
  font-size: 18px;
  padding-left: 6px;
}

button {
  border-radius: 4px;
  font-size: 18px;
  padding: 5px;
}

a {
  text-decoration: none;
}

img {
  border-radius: 10px;
  width: 70px;
  height: 70px;
  padding: 8px;
}

.user-row {
  align-items: center;
  padding-top: 5px;
}

.remove-button {
  size: 10px;
  background-color: rgb(239, 71, 67, 0.3);
  border-width: 0;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding: 0px;
  margin-right: 8px;

}

#header {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #00000014;
}

#header h1 {
  color: #0000008c;
}

.outline-red {
  border: 1px solid red;
}

.inline {
  display: inline-block;
}

.leet-coin {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin-left: 10px;
  margin-right: 5px;
}

#add-friend {
  padding: 10px;
  background-color: grey;
}

#friend-list {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.friend-box {
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 6px #0000000a,0px 4px 8px #00000005,0px 6px 12px #00000005;
}

.flex {
  display: flex;
}

.flex-fill {
  flex-grow: 1;
  min-width: 0;
}

.hidden {
  display: none;
}
