* {
  margin: 0;
  padding: 0;
  color: rgb(38, 38, 38);
  font-family: Helvetica, Arial, sans-serif;
}

html, body {
  width: max-content;
  min-width: 500px;
}

body {
  background-color: #f7f8fa;
}

a {
  text-decoration: none;
}

button {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  outline: none;
  outline: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  border: 1px solid #13aa52;
  background-color: #13aa52;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
}

/* Generic */

.flex {
  display: flex;
}

.flex-fill {
  flex-grow: 1;
  min-width: 0;
}

.hidden {
  display: none;
}

.inline {
  display: inline-block;
}

/* Tiny Images */

.tiny-box {
  margin-left: auto;
  margin-top: auto;
}

.tiny-img {
  max-width: 20px;
  max-height: auto;
}

.tiny-button {
  margin-left: 5px;
}

/* Friend Box */

.friend-box {
  margin-bottom: 15px;
  padding-right: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 6px #0000000a,0px 4px 8px #00000005,0px 6px 12px #00000005;
}

.avatar {
  border-radius: 10px;
  padding: 8px;
  max-height: 85px;
  width: auto;
}

.last-online {
  font-style: italic;
  margin-left: 8px;
  margin-right: 5px;
}

.user-row {
  align-items: center;
  padding-top: 5px;
  padding-bottom: 3px;
}

.friend-button {
  margin-left: 6px;
  float: right;
  border-width: 0;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding: 0px;
  transition-duration: 0.1s;
}

.remove-button {
  background-color: rgb(239, 71, 67, 0.5);
}

.remove-button:hover {
  background-color: rgb(239, 50, 50, 1);
}

.edit-button {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #888;
}

.edit-button:hover {
  background-color: #e6e6e6;
}

/* Loader */

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1.5s linear infinite;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Perms */

#perms {
  padding: 18px;
}

#perms p {
  margin-bottom: 15px;
}

#perms button {
  padding: 10px 25px;
  margin-top: 15px;
}

#perms .tiny-img {
  max-width: 30px;
}

/* Header */

#header {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #00000014;
}

#header h1 {
  color: #0000008c;
  padding-top: 5px;
  margin-left: 5px;
}

#header img {
  max-height: 45px;
  width: auto;
}

/* Footer */

#footer {
  padding: 15px;
  background-color: rgb(240, 240, 240);
  border-top: 1px solid #00000014;
}

/* Add friend */

#add-friend input {
  background-color: #000a200d;
  color: #262626;
  border-width: 0px;
  padding: 6px;
  padding-left: 10px;
  border-radius: 6px;
  font-size: 18px;
}

#add-friend input:focus {
  background-color: #000a201a;
  outline: none;
}

#add-button {
  font-size: 18px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  background-color: rgb(20, 180, 53, 0.6);
  border-width: 0;
}

#add-button:hover {
  background-color: #13aa52;
}

#err-message {
  color: rgb(239, 50, 50);
  margin-bottom: 16px;
}

/* Searching Friend*/

#mini-spinner {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  width: 20px;
  height: 20px;
  margin: 5px;
}

#searching-friend p {
  margin: auto;
  float: left;
  font-size: 18px;
  padding: 6px;
  margin-left: 10px;
}

/* Friends List */

#friend-list {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

#no-friends {
  margin: 20px 5px 20px 5px;
}
